body {
  background-color: rgba(50, 90, 250, 1);
}

h1 {
text-align: center;
font-family: sans-serif;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portrait img {
  width: 200px;
  padding: 20px;
}

.nom {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.lien {
  text-align: center;
  text-decoration: none;
}

/*formulaire page form.php*/

form {
  margin: auto;
  width: 80%;
  padding: 1em;
  border:1px solid #ccc;
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 250px;
  text-align: right;
  padding-right: 6px;
  font-family: sans-serif;
}

input {
  font: 1em sans-serif;
}
