body {

}

header {
  display:flex;
  justify-content: space-between;
}

header img {
  width: 25%;

}

.logotype{
  width: 25%;
  margin-left: 35%;
  margin-bottom: 50px;
}

.lien {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgba(247, 147, 30, 1);
  width: 30%;
  border-radius: 10px;
  padding: 5px;
}

.lien a{
  text-decoration: none;
  color: rgba(77, 77, 77, 1);

}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: rgba(77, 77, 77, 1);
}

h2 {
  text-align: center;
  font-family: sans-serif;
  color: rgba(77, 77, 77, 1);

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portrait {
  margin: 20px;
  background-color: rgba(247, 147, 30, 1);
}

.portrait img {
  width: 200px;
  margin: 0px;
  padding: 0;

}

.nom {
  text-align: center;
  color: rgba(77, 77, 77, 1);
  margin-top: 5px;
  padding-top: 0;
}

.lien2 {
  text-align: right;
}

.lien2 a {
  text-decoration: none;
  padding-right: 5%;
  font-size: 0.8rem;
}


/*formulaire page form.php*/

form {
  margin: auto;
  width: 80%;
  padding: 1em;
  border:1px solid #ccc;
  border-radius: 1em;
  align-content: center;
}

label {
  display: inline-block;
  width: 250px;
  text-align: right;
  color: rgba(77, 77, 77, 1);
  padding-top: 20px;
  padding-right: 6px;
  font-family: sans-serif;
}

input {
  font: 1em sans-serif;
  border-radius: 10px;
}

.bouton {
  margin: 25px;
  align-content: center;
}
